<div class="container mt-5">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>     
        <th scope="col">Cor</th>
        <th scope="col">Ano</th>
        <th scope="col">Placa</th>
        <th scope="col">Preço(R$)</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
    {{#each carros}}
      <tr>
      <td>{{this.id_carro}}</td>
      <td>{{this.marca}}</td>
      <td>{{this.modelo}}</td>  
      <td>{{this.cor}}</td>
      <td>{{this.ano}}</td>
      <td>{{this.placa}}</td>
      <td>{{this.preco}}</td>
      <td>
        <a href="/carros/editar/{{this.id_carro}}" class="btn btn-sm btn-warning">Editar</a>
        <a href="/carros/excluir/{{this.id_carro}}" class="btn btn-sm btn-danger">Excluir</a>    
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>